<style>
  .media-with-text-custom .container {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .media-with-text-custom .media-left .media {
    order: 1;
  }
  .media-with-text-custom .media-right .media {
    order: 2;
  }
  .media-with-text-custom .media img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .media-with-text-custom .text-content {
    padding: 20px;
  }
  .media-with-text-custom .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
  }

  /* CSS block product */
  .product-card {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .search-icon {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #c4744c;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-20px);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .search-icon:hover {
    background-color: #e19b76;
  }

  .search-icon svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }

  .add-to-cart-btn {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    width: 90%;
    padding: 12px 20px;
    background-color: #c4744c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }

  .add-to-cart-btn span {
    position: relative;
    z-index: 1;
    font-weight: 500;
  }

  .add-to-cart-btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e19b76;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .add-to-cart-btn:hover::before {
    top: 0;
  }

  .add-to-cart-btn.loading span {
    visibility: hidden;
  }

  .add-to-cart-btn.loading {
    cursor: not-allowed;
    opacity: 0.7;
  }

  .add-to-cart-btn.loading::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    animation: loading-spinner 0.6s linear infinite;
  }

  @keyframes loading-spinner {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .product-image {
    max-height: 100vh;
    overflow: scroll;
    position: relative;
    border-radius: 5px;
  }

  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }

  .product-image:hover .add-to-cart-btn {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }

  .product-image:hover .search-icon {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .product-image .add-to-cart-btn,
  .product-image .search-icon {
    will-change: transform, opacity, visibility;
  }

  .product-image .second-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .product-image:hover .second-img {
    opacity: 1;
    visibility: visible;
  }

  .product-info {
    padding: 24px 10px;
  }

  .product-title {
    /* font-size: 14px; */
    color: #333;
    margin: 0;
    transition: color 0.3s;
    font-weight: bold;
    cursor: pointer;
  }

  .product-title:hover {
    color: #c4744c;
  }

  .compare-at-price {
    text-decoration: line-through;
  }

  .product-price {
    font-size: 14px;
    color: #555;
  }

  .product-grid {
    display: grid;
    gap: 16px;
  }

  .product-grid.columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-grid.columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-grid.columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-grid.columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1024px) {
    .product-grid.columns-4,
    .product-grid.columns-3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    .product-grid.columns-4,
    .product-grid.columns-3,
    .product-grid.columns-2 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>

<div class="media-with-text-custom">
  {% comment %} <div class="container"> {% endcomment %}
    <div class="media-content {% if section.settings.layout == 'right' %} media-right {% else %} media-left {% endif %}">
      <div class="media">
        {% if section.settings.image %}
          <img src="{{ section.settings.image | img_url: 'large' }}" alt="{{ section.settings.heading }}">
        {% endif %}
      </div>
      <div class="text-content product-grid columns-{{ section.settings.product_column }}">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h1>{{ block.settings.heading }}</h1>

            {%- when 'text' -%}
              <p>{{ block.settings.text }}</p>

            {%- when 'button' -%}
              <a href="{{ section.settings.link }}" class="button">{{ section.settings.button }}</a>

            {%- when 'text-column' -%}
              <div class="text-column">
                {% if block.settings.icon %}
                  <img src="{{ block.settings.icon | img_url: 'small' }}" alt="{{ block.settings.title }}">
                {% endif %}
                <h3>{{ block.settings.title }}</h3>
                <p>{{ block.settings.description }}</p>
              </div>

            {%- when 'product' -%}
              <div>
                {% assign product = all_products[block.settings.product] %}
                {% assign product_form_id = 'product-form-' | append: product.id %}
                {% if product %}
                  <div class="product-card">
                    <div class="product-image">
                      <div class="text-red-500 font-bold p-10">Test Tailwind</div>
                      <div class="search-icon">
                        <svg
                          fill="#FFFFFF"
                          height="15px"
                          width="15px"
                          version="1.1"
                          id="Capa_1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          viewBox="0 0 488.4 488.4"
                          xml:space="preserve"
                        >
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                            <g>
                              <g>
                                <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6 s6.3-1.2,8.7-3.6c4.8-4.8,
                                4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2 S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,
                                178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7 S381.9,104.65,381.9,203.25z"></path>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      {% if product.images.size == 0 %}
                        <img src="https://placehold.jp/250x250.png" alt="Placeholder image">
                      {% elsif product.images.size == 1 %}
                        <img
                          srcset="
                            {%- if product.images[0].width >= 360 -%}{{ product.images[0] | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if product.images[0].width >= 533 -%}{{ product.images[0] | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if product.images[0].width >= 720 -%}{{ product.images[0] | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if product.images[0].width >= 940 -%}{{ product.images[0] | image_url: width: 940 }} 940w,{%- endif -%}
                            {%- if product.images[0].width >= 1066 -%}{{ product.images[0] | image_url: width: 1066 }} 1066w,{%- endif -%}
                            {{ product.images[0] | image_url }} {{ product.images[0].width }}w
                          "
                          src="{{ product.images[0] | image_url: width: 533 }}"
                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, 
                                  (min-width: 990px) calc((100vw - 130px) / 4), 
                                  (min-width: 750px) calc((100vw - 120px) / 3), 
                                  calc((100vw - 35px) / 2)
                                  "
                          alt="{{ product.images[0] }}"
                          loading="lazy"
                          width="{{ product.images[0].width }}"
                          height="{{ product.images[0].height }}"
                        >
                        
                      {% else %}
                      <img
                      srcset="
                        {%- if product.images[0].width >= 360 -%}{{ product.images[0] | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if product.images[0].width >= 533 -%}{{ product.images[0] | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if product.images[0].width >= 720 -%}{{ product.images[0] | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if product.images[0].width >= 940 -%}{{ product.images[0] | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if product.images[0].width >= 1066 -%}{{ product.images[0] | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ product.images[0] | image_url }} {{ product.images[0].width }}w
                      "
                      src="{{ product.images[0] | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, 
                              (min-width: 990px) calc((100vw - 130px) / 4), 
                              (min-width: 750px) calc((100vw - 120px) / 3), 
                              calc((100vw - 35px) / 2)
                              "
                      alt="{{ product.images[0] }}"
                      class="primary-img"
                      loading="lazy"
                      width="{{ product.images[0].width }}"
                      height="{{ product.images[0].height }}"
                    >
                    <img
                      srcset="
                        {%- if product.images[1].width >= 360 -%}{{ product.images[1] | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if product.images[1].width >= 533 -%}{{ product.images[1] | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if product.images[1].width >= 720 -%}{{ product.images[1] | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if product.images[1].width >= 940 -%}{{ product.images[1] | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if product.images[1].width >= 1066 -%}{{ product.images[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ product.images[1] | image_url }} {{ product.images[1].width }}w
                      "
                      src="{{ product.images[1] | image_url: width: 533 }}"
                      sizes=" (min-width: 1800px) calc((100vw - 140px) / 4), 
                              (min-width: 990px) calc((100vw - 130px) / 4), 
                              (min-width: 750px) calc((100vw - 120px) / 3), 
                              calc((100vw - 35px) / 2)
                              "
                      alt="{{ product.images[1] }}"
                      class="second-img"
                      loading="lazy"
                      width="{{ product.images[1].width }}"
                      height="{{ product.images[1].height }}"
                    >
                      {% endif %}
                      {% render 'buy-buttons',
                        block: block,
                        product: product,
                        product_form_id: product_form_id,
                        section_id: section.id
                      %}
                    </div>
                    <div
                      class="product-info"
                      style="text-align: {% if block.settings.primary_content_center %}center{% else %}start{% endif %};"
                    >
                      {% if block.settings.show_vendor %}
                        <span class="product-price">{{ product.vendor }}</span>
                      {% endif %}
                      {% if block.settings.product_title %}
                        {%- capture heading_tag -%}{{ block.settings.heading_tag }}{%- endcapture -%}
                        <{{ heading_tag }} class="product-title">
                          {{- product.title | default: 'product name' -}}
                        </{{ heading_tag }}>
                      {% endif %}
                      <small class="compare-at-price">{{ product.compare_at_price | money }}</small>
                      <span class="product-price">{{ product.price | money }}</span>
                    </div>
                  </div>
                  </div>
                {% else %}
                  <p>Product not found</p>
                {% endif %}

                <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

                <script>
                  function addToCart(productId) {
                    console.log(productId);

                    const addToCartBtn = document.querySelector('.add-to-cart-btn');
                    addToCartBtn.classList.add('loading');

                    let formData = new FormData();
                    formData.append('quantity', '1');
                    formData.append('id', productId);
                    formData.append('form_type', 'product');
                    formData.append('utf8', '✓');

                    formData.append(
                      'sections',
                      'cart-notification-product, cart-notification-button, cart-icon-bubble'
                    );

                    fetch(window.Shopify.routes.root + 'cart/add.js', {
                      method: 'POST',
                      body: formData,
                    })
                      .then((response) => {
                        console.log(response);
                        return response.json();
                      })
                      .then((data) => {
                        console.log(data);
                        addToCartBtn.classList.remove('loading');
                        updateCartCount();
                      })
                      .catch((error) => {
                        console.error('Error:', error);
                        addToCartBtn.classList.remove('loading');
                      });
                  }

                  function updateCartCount() {
                    fetch(window.Shopify.routes.root + 'cart.js')
                      .then((response) => response.json())
                      .then((cart) => {
                        console.log(cart);

                        let cartIconBubble = document.getElementById('cart-icon-bubble');

                        let countBadge = cartIconBubble.querySelector('.cart-count-badge');

                        if (!countBadge) {
                          countBadge = document.createElement('div');
                          countBadge.className = 'cart-count-badge';
                          countBadge.style.cssText = `
                          position: absolute;
                          top: -2px;
                          right: 0px;
                          height: 20px;
                          width: 20px;
                          border-radius: 50%;
                          font-size: 9px;
                          background-color: #111111;
                          color: #FFFFFF;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                        `;
                          cartIconBubble.style.position = 'relative';
                          cartIconBubble.appendChild(countBadge);
                        }

                        countBadge.textContent = cart.item_count;
                        cartIconBubble.setAttribute('data-value', cart.item_count);
                      })
                      .catch((error) => {
                        console.error('Error updating cart count:', error);
                      });
                  }
                </script>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Media with Text",
  "settings": [
    {
      "type": "header",
      "content": "Product column"
    },
    {
      "type": "range",
      "id": "product_column",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Column",
      "default": 4
    },
    {
      "type": "header",
      "content": "Media image"
    },
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "First image",
      "info": "For recommended image sizes, check our [user guide](https://support.omnithemes.com/blogs/faqs/can-you-recommend-image-sizes-for-the-different-image-layouts-of-different-section)."
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second image",
      "info": "For recommended image sizes, check our [user guide](https://support.omnithemes.com/blogs/faqs/can-you-recommend-image-sizes-for-the-different-image-layouts-of-different-section)."
    },
    {
      "type": "header",
      "content": "Shopify-hosted video"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "checkbox",
      "id": "show_sound_control",
      "label": "Show sound control",
      "info": "Applies to auto play videos only."
    },
    {
      "type": "header",
      "content": "Or embed video from url"
    },
    {
      "type": "paragraph",
      "content": "Shows when no Shopify-hosted video is selected."
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "URL",
      "accept": ["youtube", "vimeo"],
      "info": "Supports YouTube and Vimeo.",
      "placeholder": "Paste a link"
    },
    {
      "type": "text",
      "id": "video_alt_text",
      "label": "Video alt text"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video will be muted when autoplay is on."
    },
    {
      "type": "select",
      "id": "desktop_image_height",
      "label": "Desktop image height",
      "options": [
        {
          "value": "450",
          "label": "450px"
        },
        {
          "value": "550",
          "label": "550px"
        },
        {
          "value": "650",
          "label": "650px"
        },
        {
          "value": "750",
          "label": "750px"
        },
        {
          "value": "adapt to first image",
          "label": "Adapt to first image"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        }
      ],
      "default": "adapt to first image"
    },
    {
      "type": "select",
      "id": "mobile_image_height",
      "label": "Mobile image height",
      "options": [
        {
          "value": "250",
          "label": "450px"
        },
        {
          "value": "350",
          "label": "550px"
        },
        {
          "value": "450",
          "label": "650px"
        },
        {
          "value": "550",
          "label": "750px"
        },
        {
          "value": "adapt to first image",
          "label": "Adapt to first image"
        },
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        }
      ],
      "default": "adapt to first image"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "label": "Desktop image width",
      "options": [
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "image_style",
      "label": "Image style",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "stacked",
          "label": "Stacked"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "corner_radius",
      "label": "Corner radius",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "content_layout",
      "label": "Content layout",
      "options": [
        {
          "value": "no overlap",
          "label": "No overlap"
        },
        {
          "value": "overlap",
          "label": "Overlap"
        }
      ],
      "default": "overlap"
    },
    {
      "type": "checkbox",
      "id": "image_spacing",
      "label": "Add spacing between images"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center",
      "info": "Only applies to desktop display."
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "background_color_light",
      "label": "Background color (light)",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "label": "Background color (dark)",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Text columns with icons"
    },
    {
      "type": "select",
      "id": "line_and_border",
      "label": "Line and border",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "dashed border",
          "label": "Dashed border"
        },
        {
          "value": "vertical line",
          "label": "Vertical line"
        },
        {
          "value": "full border",
          "label": "Full border"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Icon position",
      "options": [
        {
          "value": "above text",
          "label": "Above text"
        },
        {
          "value": "next to next",
          "label": "Next to next"
        }
      ],
      "default": "above text"
    },
    {
      "type": "range",
      "id": "icon_size",
      "label": "Icon size",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "select",
      "id": "column_content_alignment",
      "label": "Column content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "desktop_number_column",
      "label": "Number of columns on desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "info": "For large image, only display a maximum of 2 columns per row"
    },
    {
      "type": "select",
      "id": "mobile_number_column",
      "label": "Number of columns on mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "2"
    },
    {
      "type": "color",
      "id": "heading_color_light",
      "label": "Heading color (light)",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "text_color_light",
      "label": "Text color (light)",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "line_and_border_light",
      "label": "Line and border (light)",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "icon_color_light",
      "label": "Icon color (light)",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "heading_color_dark",
      "label": "Heading color (dark)",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "text_color_dark",
      "label": "Text color (dark)",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "line_and_border_dark",
      "label": "Line and border (dark)",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "icon_color_dark",
      "label": "Icon color (dark)",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "select",
      "id": "desktop_image_alignment",
      "label": "Image alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "Right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "desktop_make_section_full_width",
      "label": "Make section full width"
    },
    {
      "type": "checkbox",
      "id": "enable_side_padding",
      "label": "Enable side padding"
    },
    {
      "type": "range",
      "id": "desktop_top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "desktop_bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_image_alignment",
      "label": "Image alignment",
      "options": [
        {
          "value": "first",
          "label": "Image first"
        },
        {
          "value": "second",
          "label": "Image second"
        }
      ],
      "default": "first"
    },
    {
      "type": "checkbox",
      "id": "mobile_make_section_full_width",
      "label": "Make section full width"
    },
    {
      "type": "range",
      "id": "mobile_top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "mobile_bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading",
          "info": "Wrap your text between [] to add heading highlights. E.g: Adding [marker] will underline [highlight] text."
        },
        {
          "type": "select",
          "id": "marker",
          "label": "Marker",
          "options": [
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "label": "Font highlight",
              "value": "font highlight"
            }
          ],
          "default": "underline"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Heading size",
          "default": 100
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ],
          "default": "h1"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>This is description for media with text</p>"
        },
        {
          "type": "select",
          "id": "default_content_height",
          "label": "Default content height",
          "options": [
            {
              "value": "show full content",
              "label": "Show full content"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "show full content",
          "info": "Decide the height of content block shown before clicking \"Read more\"."
        },
        {
          "type": "text",
          "id": "readmore_label",
          "label": "\"Read more\" label",
          "default": "Read more"
        },
        {
          "type": "color",
          "id": "heading_color_light",
          "label": "Heading color (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "text_color_light",
          "label": "Text color (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "heading_highlight_color_light",
          "label": "Heading highlight color (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "heading_color_dark",
          "label": "Heading color (dark)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "text_color_dark",
          "label": "Text color (dark)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "heading_highlight_color_dark",
          "label": "Heading_highlight color (dark)",
          "default": "transparent"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "open_link_new_window",
          "label": "Open this link in a new window",
          "default": false
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "label": "secondary",
              "value": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "color",
          "id": "primary_button_light",
          "label": "Primary button (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "primary_button_text_light",
          "label": "Primary button text (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "primary_button_hover_light",
          "label": "Primary button hover (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "primary_button_hover_text_light",
          "label": "Primary button hover text (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "secondary_button_color_light",
          "label": "Secondary button color (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "secondary_button_text_color_light",
          "label": "Secondary button text color (light)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "primary_button_dark",
          "label": "Primary button (dark)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "primary_button_text_dark",
          "label": "Primary button text (dark)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "primary_button_hover_dark",
          "label": "Primary button hover (dark)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "primary_button_hover_text_dark",
          "label": "Primary button hover text (dark)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "secondary_button_color_dark",
          "label": "Secondary button color (dark)",
          "default": "transparent"
        },
        {
          "type": "color",
          "id": "secondary_button_text_color_dark",
          "label": "Secondary button text color (dark)",
          "default": "transparent"
        }
      ]
    },
    {
      "type": "text_column_with_icon",
      "name": "Text Column with Icon",
      "limit": 12,
      "settings": [
        {
          "type": "header",
          "content": "Icon"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "message text",
              "label": "Message text"
            },
            {
              "value": "truck",
              "label": "Truck"
            }
          ],
          "default": "truck"
        },
        {
          "type": "text",
          "id": "another_icon",
          "label": "Use another icon",
          "info": "If you want to use different icons from the options above, look for an icon from our [icon list](https://support.omnithemes.com/blogs/user-guide/theme-icons) and fill the icon name here (E.g: price tag)"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_image",
          "label": "Custom icon image"
        },
        {
          "type": "html",
          "id": "custom_icon_svg",
          "label": "Custom icon (SVG code)",
          "info": "For assistance with custom SVG code or fixing issues that arise from custom SVG code, please [contact our support](https://omnithemes.com/contact/)."
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "url",
          "id": "heading_link",
          "label": "Heading link"
        },
        {
          "type": "checkbox",
          "id": "open_link_new_window",
          "label": "Open this link in a new window"
        },
        {
          "type": "range",
          "id": "heading_size",
          "label": "Heading size",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "default": 100
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Desktop layout"
        },
        {
          "type": "range",
          "id": "desktop_column_number",
          "label": "Number of columns wide",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 1
        },
        {
          "type": "header",
          "content": "Mobile layout"
        },
        {
          "type": "select",
          "id": "mobile_column_number",
          "label": "Number of columns wide",
          "options": [
            {
              "value": "1",
              "label": "1 column"
            },
            {
              "value": "2",
              "label": "2 columns"
            }
          ],
          "default": "2"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "limit": 8,
      "settings": [
        {
          "type": "header",
          "content": "Product"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "product_title",
          "label": "Show product title",
          "default": true
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ],
          "default": "h2"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show vendor"
        },
        {
          "type": "checkbox",
          "id": "primary_content_center",
          "label": "Make primary content center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Media with Text  ",
      "category": "Custom"
    }
  ]
}
{% endschema %}
